* text=auto
*.md text eol=lf
*.ass text eol=crlf
*.lua text eol=lf
*.moon text eol=lf
*.svg text eol=lf
*.json text eol=lf
*.conf text eol=lf
*.dll binary
*.exe binary
*.gif binary
*.png binary
*.jpg binary
*.jpeg binary
